.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

/* Navbar section */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    /* white-space: nowrap; */
}

h1,
h2,
h3 {
    font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

.display-4 {
    font-size: 2.5rem;
}

.feature-img {
    width: 200px;
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }

    .display-4 {
        font-size: 3rem;
    }
}
